$width: 70%;
$right: 15%;
$left: 15%;
$top: 30%;
@mixin Modal($width, $top, $right) {
  width: $width;
  right: $right;
  top: $top;
}
.modal {
  position: fixed;
  z-index: 1000;
  background-color: #ffffff;
  width: $width;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #eee;
  padding: 15px;
  left: $left;
  right: $right;
  top: $top;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.show_modal {
  transform: translateX(0);
  opacity: 1;
}
.close_modal {
  transform: translateX(-100vh);
  opacity: 0;
}

// @media (min-width: 600px) {
//   .modal {
//     width: 500px;
//     left: calc(50%-250px);
//   }
// }
