//layerManagement :
$LayerManagementBgColor: #ffffff;
$LayerManagementBoxshadowColor: #333333;
$LayerManagementBorderBottom: solid 1px #888888;
// SECONDMENU
$text-area: #6bbbec;
$name-plants: 1em;
//ThirdMenu :
$ThirdMenuBgColor: #fff;
$ThirdMenuSelectBgColor: #33c21b;
$ThirdMenuSelectBorderColor: #33c21b;
//FourthMenu :
$FourthMenuBgColor: #f2f3f8;
$FourthMenuBorderBottom: solid #888888;
//weatherForecast :
$WeatherForecastIconBgColor: #f5f5f5;
$WeatherForecastFontSize: 1rem;
//uploadFile
$font-size-lable-file:.75em